.jumbotron {
    padding-top: 6rem;
    background: -webkit-linear-gradient(bottom,#3498db,#9b59b6);
}
#projects{
    background: -webkit-linear-gradient(bottom,#3498db,#9b59b6);
}
section {
    padding-top: 5rem;
}