.jumbotron {
    padding-top: 6rem;
    background: -webkit-linear-gradient(bottom,#3498db,#9b59b6);
}
#projects{
    background: -webkit-linear-gradient(bottom,#3498db,#9b59b6);
}
section {
    padding-top: 5rem;
}

.jumbotron .animate {
    transform: translateX(-100%);
}

.jumbotron.show-animate .animate {
    transform: translateX(0);
}

section .animate{
    opacity: 0;
    transition: 1s;
    filter: blur(5px);
}

section.show-animate .animate{
    filter: blur(0);
    opacity: 1;
}

.sec-2 .animate{
    transform: translateX(100%);
}
.sec-2.show-animate .animate{
    transform: translateX(0);
}

.sec-3 .animate{
    transform: scale(.7);
}
.sec-3.show-animate .animate{
    transform: scale(1);
}

.sec-4 .animate{
    transform: scale(.7);
}
.sec-4.show-animate .animate{
    transform: scale(1);
}


section{
    overflow-x: hidden;
}